<p>Node Count: <%= node_count %></p>
<% if updating %>
  <p><%= "Known Terms: #{updating[:terms].size}" %></p>
  <%= JSON.pretty_generate(updating) %>
  
<% else %>
  <form method="post" action="/admin/update">
    <input type="submit" value="Update Database" />
  </form>
<% end %>